block mixins 
    include ../blocks/mixins.pug
block vars 
    -title = 'Confirm Password'
    -bodyClass = 'confirm_password'

doctype html
html(lang="en")
  head
    title=title 
    include ../blocks/head
    script(src="./scripts/validator.js") 
  body(class = bodyClass)
    block container 
      .modal
        .modal-content
          h3 Confirm Password
          p For security, please sign in to access your information
          form.form(action='/' method='method')#formLogin
            .form-group
              label(for='password') Password
              input.form-control(type='password',id='password', name='password' placeholder='Password')
              spsan.form-message
            .form-group
              label(for='password') Confirm Password
              input.form-control(type='password',id='password', name='password' placeholder='Confirm Password')
              spsan.form-message
            button.button(type='submit' value='login') Sign In
    block scripts
      script(src="./scripts/validate.js") 
   
  

