extend views/layouts/layout-index

block vars
    -title = 'Store'
    -bodyClass = 'wrappper-index'
block container    
    include ./views/blocks/slider
    include ./views/blocks/login-index
